.boards {
  width: auto;
  padding: 24px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  
  .handle {
    position: relative;
    top: 5px;
    left: 0;
    cursor: move;
  }
}


.cdk-drag-placeholder {
  opacity: 0.2;
  width: 350px;
  border: 5px dashed gray;
  margin: 0 10px;
  
}

.cdk-drag-animating .cdk-drop-list-dragging .cdk-drag {
  transition: transform 300ms ease;
}

.boards.cdk-drop-list-dragging .cdk-drag {
  transition: transform 300ms ease;
}


.board-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px gray dashed;
  width: 300px;
  padding: 32px;
  height: 350px;
}