<section class="py-4 login-page">
  <div class="container-fluid" *ngIf="!(isLoggedIn$ | async)">
    <div class="row flex-column justify-content-center align-items-center">

      <button class="my-3" mat-raised-button appGoogleSignin>
        <img src="/assets/img/google-logo.svg" height="17px" width="17px" alt="Google">  Login with Google
      </button>

      <h4>OR</h4>

      <app-email-login></app-email-login>
    </div>
  </div>

  <div class="container-fluid" *ngIf="(isLoggedIn$ | async)">
    <div class="row flex-column justify-content-center align-items-center">
      <p>Successfully logged in</p>
      <button class="my-3" mat-raised-button color="accent" [routerLink]="['/', 'projects']">Open Kanban Boards</button>
    </div>
  </div>
</section>