
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$md-mcgpalette0: (
    50 : #f0e8fc,
    100 : #d9c5f7,
    200 : #c09ef1,
    300 : #a777eb,
    400 : #945ae7,
    500 : #813de3,
    600 : #7937e0,
    700 : #6e2fdc,
    800 : #6427d8,
    900 : #511ad0,
    A100 : #ffffff,
    A200 : #ded1ff,
    A400 : #b89eff,
    A700 : #a685ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$crello-primary: mat-palette($mat-indigo);
$crello-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$crello-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$crello-theme: mat-light-theme($crello-primary, $crello-accent, $crello-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($crello-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
