@import '../variables';

.homepage {
  margin-top: $navbar-height;

  .hero {
    background-color: #e5e5e5;
    min-height: calc(100vh - 58px);
  }

  &-title {
    font-size: 2.5rem;
  }

  &-subtitle {
    text-align: center;
    font-size: 1.25rem;
    font-weight: lighter;
  }
}