<section class="homepage container-fluid">
  <div class="row hero align-items-center">
    <div class="col-md-6 py-5 d-flex flex-column justify-content-center align-items-center">
      <img width="75%" src="../../assets/img/task.svg" alt="Task">
    </div>
    <div class="col-md-6 py-5 px-4 d-flex flex-column justify-content-center align-items-center">
      <h1 class="homepage-title mb-3">📋 Crello</h1>
      <p class="homepage-subtitle my-3">
        Crello is an open-source, web-based, Kanban-style, list-making application, inspired by
        Trello. Built using Angular 9 and Firebase.
      </p>
      <div class="d-flex mt-3 justify-content-around">
        <a class="mr-2" mat-stroked-button href="https://ninadsubba.in">
          📌&nbsp;Check out my website
        </a>
        <a mat-stroked-button href="https://github.com/Ninad99">
          ⭐&nbsp;Star on Github
        </a>
      </div>
    </div>
  </div>
</section>
