<main class="homepage container-fluid">
  <div class="row hero">
    <div class="col py-5 d-flex flex-column justify-content-center align-items-center">
      <h1 class="homepage-title py-3">📋 Crello</h1>
      <p class="homepage-subtitle py-2">
        Crello is an open-source, web-based Kanban-style list-making application, inspired by
        Trello. Built using Angular 9 and Firebase.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col py-5 d-flex justify-content-center align-items-center">
      <button mat-stroked-button color="primary" class="mr-3">
        Docs
      </button>
      <button mat-stroked-button color="primary">
        Github
      </button>
    </div>
  </div>
</main>
