@import '../variables';

.homepage {
  margin-top: $navbar-height;

  .hero {
    min-height: calc(100vh - 58px);
  }

  &-title {
    font-size: 2.5rem;
  }

  &-subtitle {
    text-align: center;
    font-size: 1.25rem;
    font-weight: lighter;
    padding: 1rem 3rem;
  }

  @media screen and (max-width: 768px) {
    &-title {
      font-size: 1.75rem;
    }

    &-subtitle {
      text-align: center;
      font-size: 1rem;
      font-weight: normal;
      padding: 0;
    }
  }
}