<section class="homepage container-fluid">
  <div class="row hero align-items-center">
    <div class="col-md-5 py-5 d-flex flex-column justify-content-center align-items-center">
      <img width="100%" src="../../assets/img/Work at home.svg" alt="Task">
    </div>
    <div class="col-md-7 py-5 px-4 d-flex flex-column justify-content-center align-items-center">
      <h1 class="homepage-title mb-3">📋 Crello</h1>
      <p class="homepage-subtitle my-3">
        Crello is an open-source, web-based, Kanban-style, list-making application, inspired by
        <a class="link" href="https://trello.com/home">Trello</a>.<br/>
      </p>
      <p class="homepage-subtitle d-flex align-items-center ">
        Built using&nbsp;
        <svg role="img" width="22px" height="22px" fill="#dd0031" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Angular</title><path d="M9.93 12.645h4.134L11.996 7.74M11.996.009L.686 3.988l1.725 14.76 9.585 5.243 9.588-5.238L23.308 3.99 11.996.01zm7.058 18.297h-2.636l-1.42-3.501H8.995l-1.42 3.501H4.937l7.06-15.648 7.057 15.648z"/></svg>
        &nbsp;and&nbsp;
        <svg role="img" width="22px" height="22px" fill="#ffca28" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Firebase</title><path d="M3.89 15.673L6.255.461A.542.542 0 0 1 7.27.289L9.813 5.06 3.89 15.673zm16.795 3.691L18.433 5.365a.543.543 0 0 0-.918-.295l-14.2 14.294 7.857 4.428a1.62 1.62 0 0 0 1.587 0l7.926-4.428zM14.3 7.148l-1.82-3.482a.542.542 0 0 0-.96 0L3.53 17.984 14.3 7.148z"/></svg>
      </p>
      <div class="d-flex mt-3 justify-content-around">
        <a mat-raised-button color="accent" href="https://github.com/Ninad99/crello">
          ⭐&nbsp;Star on Github
        </a>
      </div>
    </div>
  </div>
  <div class="row py-5 flex-column justify-content-center align-items-center">
    <div class="col px-4 text-center">
      <h2>✨ Features</h2>
      <h3>✅ Material Design spec</h3>
      <h3>✅ Realtime updates with RxJS Observables</h3>
      <h3>✅ NgRx for state management</h3>
      <h3>✅ Create multiple projects</h3>
      <h3>✅ 100% open source codebase</h3>
    </div>
  </div>
  <div class="row py-5 justify-content-center align-items-center">
    <div class="col-md-6 p-3 text-center">
      <h2>👨‍🔧 Have a feature request or bug report?</h2>
      <a mat-raised-button color="accent" href="https://github.com/Ninad99/crello/issues/new">
        🖊 Create an issue
      </a>
    </div>
    <div class="col-md-6 p-3 text-center">
      <h2>💪 Want to improve the project by contributing?</h2>
      <a mat-raised-button color="accent" href="https://github.com/Ninad99/crello/issues">
        👨‍💻 Github Repo
      </a>
    </div>
  </div>
</section>
<footer class="footer container-fluid">
  <div class="row py-5 flex-column justify-content-center align-items-center">
    <h4>📋 Crello</h4>
    <p>Licensed under Apache 2.0</p>
    <a class="link" href="https://github.com/Ninad99">Follow me on Github</a>
  </div>
</footer>
